<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.platypus.controller" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>Controller</name><js-module name="Controller" src="www/Controller.js"><clobbers target="cordova.plugins.Controller" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="Controller"><param name="android-package" value="com.platypus.controller.Controller" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/Controller.java" target-dir="src/com/platypus/controller/Controller" /></platform></plugin>