<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.platypus.android.server"
    android:versionCode="2"
    android:versionName="4.2.1">

    <!--<uses-sdk android:targetSdkVersion="23" />-->

    <uses-feature android:name="android.hardware.usb.accessory" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".PlatypusApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <service
            android:name=".VehicleService"
            android:icon="@mipmap/ic_launcher"
            android:label="Platypus Vehicle Service" />

        <activity
            android:name=".MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="Platypus Server"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AirboatCameraActivity"
            android:configChanges="keyboardHidden|orientation"
            android:icon="@mipmap/ic_launcher"
            android:label="Platypus Vehicle Camera"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".ControllerDetectionActivity"
            android:excludeFromRecents="true"
            android:label="Platypus Hardware Detector"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <service
            android:name=".LogUploadService"
            android:icon="@mipmap/ic_launcher"
            android:label="Platypus Log Upload Service"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>
